html,
body {
    min-height: 100%;
    height: 100%;
    width: 100%;
    font-family: Open Sans;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;
    margin: auto;
}

.body-container {
    height: 100%;
    max-width: 1140px;
    margin: 0px auto;
    padding: 0px 15px;
    display: grid;
    grid-template-columns: minmax(100px, auto);
    grid-template-rows: auto auto auto;
}

#mytitle {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

#mytitle h1 {
    font-family: Baloo;
    color: white;
}

.description {
    font-weight: 200;
    text-align: center;
}

.main-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

#desk {
}

form {
    width: auto;
    margin: auto;
}

#vol-control {
    width: 100%;
    max-width: 400px;
    min-width: 100px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

#vol-control label {
    color: white;
    font-weight: 300;
    padding-bottom: 2rem;
    text-align: center;
}

#customRange3 {
    width: 100%;
}

#kbd {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: minmax(100px, auto) minmax(100px, auto);
    grid-gap: 10px;
    grid-template-areas: 'pad1 pad2 pad3 pad4' 'pad5 pad6 pad7 pad8';
}

#kbd .row {
    width: 600px;
}

.pad {
    width: 100%;
    height: 120px;
    max-width: 170px;
    min-width: 60px;
    line-height: 120px;
    border: .1rem solid black;
    border-radius: .5rem;
    font-size: 1.5rem;
    font-weight: 100;
    transition: all .07s ease;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 .5rem black;
}

.playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}

#drumList {
    height: 1.5rem;
}

#drumList select {
    background: aliceblue;
    font-weight: 200;
    color: cornflowerblue;
    height: 100%;
}

footer {
    width: 100%;
    font-weight: 200;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: end;
    align-items: flex-end;
}

footer .btn {
    text-align: left;
    background: none;
    border: 0px solid;
    font-size: 0.8rem;
    color: #007bff;
}

.credits span {
    float: right;
    color: white;
}

.credits a {
    color: yellow;
    text-decoration: none;
}

.credits p {
    margin-bottom: 0px;
}

/* MEDIA QUERIES */
@media screen and (min-width: 992px) {
    #kbd {
    }
}

@media screen and (max-width: 600px) {
    #kbd .col-3 {
        padding-left: 2px;
        padding-right: 2px;
    }
}

@media screen and (max-height: 568px) {
    body {
        background-position: center bottom;
    }

    .pad {
        height: 68px;
        line-height: 68px;
    }

    #vol-control {
        margin-top: 2rem;
    }
}